# Compilación de Maven (archivos pesados generados al compilar)
/target/

# Entornos de desarrollo e IDEs
.vscode/
.idea/
*.iml
.nbproject/
nbproject/

# Archivos del sistema y logs
.DS_Store
Thumbs.db
*.log